

@model UpdateOptionToProductViewModel


@{
    ViewData["Title"] = "Update";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}


<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">Ürün Rsmini Güncelle</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->
    <form form asp-controller="OptionToProduct" asp-action="Update" method="post">
        <input type="hidden" asp-for="Id" />
        <div class="card-body">
            @{
                if (ViewData["parentProductId"] != null)
                {
                    Guid proId = ((Guid)ViewData["parentProductId"]);

                    <div>
                        <input asp-for="ParentProductId" class="form-control" type="hidden" value="@proId">
                    </div>
                }
            }
          
            <div class="form-group">
                <label>Varyant Grubu Id</label>
                <select asp-for="OptionGroupId" asp-items="@ViewBag.OptionGroups" class="form-control">
                    <option>Please select OptionGroup..</option>
                </select>
            </div>
            <div class="form-group">
                <label>Varyant  Id</label>
                <select asp-for="OptionId" asp-items="@ViewBag.Options" class="form-control">
                    <option>Please select Option..</option>
                </select>
            </div>
            <div class="form-group">
                <label>Ürün Id</label>
                <select asp-for="ProductId" asp-items="@ViewBag.Products" class="form-control">
                    <option>Please select Other Product..</option>
                </select>
            </div>
            <div class="form-group">
                <label>Ana Ürün Id</label>
                <select asp-for="ParentProductId" asp-items="@ViewBag.Products" class="form-control">
                    <option>Please select Parent Product..</option>
                </select>
            </div>
        </div>
        <!-- /.card-body -->

        <div class="card-footer">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a asp-controller="OptionToProduct" asp-action="Index" class="btn btn-danger">Çıkış</a>
        </div>

    </form>

    @if (TempData["Message"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["Message"]
        </div>
    }
</div>



@section scripts{
    <!-- bs-custom-file-input -->
    <script src="~/admin/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>

    <script>
        $(function () {
            bsCustomFileInput.init();
        });
    </script>
}
